<h2>Account Activation</h2>
<%= simple_form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:class => 'form-horizontal', :method => 'put'}, :id => 'activation-form' do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <legend>
      Account Activation
      <% if resource.email %>
        for <%= resource.email %>
      <% end %>
    </legend>
    <% if @requires_password %>
      <p>
        <%= f.label :password,'Choose a Password:' %>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label :password_confirmation, 'Password Confirmation:' %>
        <%= f.password_field :password_confirmation %>
      </p>
    <% end %>
    <%= hidden_field_tag :confirmation_token, @confirmation_token %>
    <p><%= f.submit "Activate" %></p>
  </fieldset>
<% end %>