%h2 Request Invitation
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %input{:type=>'hidden', :name=>"user[password]", :value=>'please'}
  %p
    = f.label :email
    %br/
    = f.email_field :email
  %p= f.submit "Request Invitation"
= render :partial => "devise/shared/links"
