- content_for :head do
  = javascript_include_tag 'http://www.google.com/jsapi'
%h2 Users
#chart{:style => "width: 700px; height: 240px;"}
= render_chart @chart, 'chart'
%br
.span9  
  %table.datatable.table.table-bordered.table-condensed
    %thead
      %tr
        %th Email
        %th Signed up
        %th Send Invitation
    %tbody
      - @users.each do |user|
        %tr
          %td #{link_to user.email, user}
          %td #{user.created_at.to_date}
          %td #{link_to "send invitation", invite_user_path(user)}